{% extends 'base.html' %}

{% load widget_tweaks %}

{% block head %}
    <title>Profile | Meal Manager</title>
{% endblock %}


{% block body %}
<section id="profile">
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-md-6 profile-left">
                    {% if user.userprofile.image %}
                    <img src="{{ user.userprofile.image.url }}" width="240px">
                    {% endif %}
                    {% if user.first_name %}
                    <h1>
                        {{ user.first_name }}
                        {{ user.last_name }}
                    </h1>
                    {% endif %}
                    {% if user.userprofile.description %}
                    <p class="lead">Description: {{ user.userprofile.description }}</p>
                    {% endif %}
                </div>
                <div class="col-md-6 profile-right">
                    <div class="profile-right-content">
                        <p>Username: {{ user }}</p>
                        {% if user.email %}
                        <p>Email: {{ user.email }}</p>
                        {% endif %}
                        {% if user.userprofile.phone %}
                        <p>Phone: {{ user.userprofile.phone }}</p>
                        {% endif %}
                        {% if user.userprofile.city %}
                        <p>City: {{ user.userprofile.city }}</p>
                        {% endif %}
                        {% if user.userprofile.website %}
                        <p>Website: {{ user.userprofile.website }}</p>
                        {% endif %}
                        {% if user == request.user %}
                        <a href="{% url 'accounts:edit_profile' %}" class="btn btn-primary btn-lg" role="button">Edit Profile</a>
                        <a href="{% url 'accounts:change_password' %}" class="btn btn-primary btn-lg" role="button">Change Password</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>           
</section>
{% endblock %}