{% extends 'base.html' %}
{% load widget_tweaks %}

    {% block head %}
    <title>Reset Password  | Meal Manager</title>
    {% endblock %}

    {% block body %}
    <section id="reset_password">
        <div class="reset_password">
            <div class="reset_password-box">
                <h6 class="heading">Password Reset</h6>
                <div class="form">
                    <p>
                        Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
                    </p>
                    <form method="POST">
                        {% csrf_token %}
                        <p>
                            <label>Email :</label>
                            {{form.email|add_class:'form-control'}}
                        </p>
                        
                        <button type="submit" class="btn btn-success">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>              
    </section>
    {% endblock %}