{% extends 'base.html' %}
{% load widget_tweaks %}

    {% block head %}
    <title>Reset Password | Meal Manager</title>
    {% endblock %}

    {% block body %}
    <section id="reset_password_confirm">
        <div class="reset_password_confirm">
            <div class="reset_password_confirm-box">
                <h6 class="heading">Enter new password</h6>
                <div class="form">
                    <form method="POST">
                        {% csrf_token %}
                        <p>
                            <label>New password :</label>
                            {{ form.new_password1|add_class:'form-control'|add_class:'login-form' }}
                        </p>
                        <p>
                            <label>New password confirmation :</label>
                            {{ form.new_password2|add_class:'form-control'|add_class:'login-form' }}
                        </p>
                        
                        <button type="submit" class="btn btn-success">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>              
    </section>
        <h1></h1>
        <form method="POST">
            {% csrf_token %}
            
            <button type="submit">Reset Password</button>
        </form>
    {% endblock %}