{% extends 'base.html' %}

    {% block head %}
    <title>Reset Password  | Meal Manager</title>
    {% endblock %}

    {% block body %}
    <section id="reset_password_complete">
        <div class="reset_password_complete">
            <div class="reset_password_complete-box">
                <h6 class="heading">Password Reset Complete</h6>
                <div class="form">
                    <p>
                        Your password reset was succesfull. <br> Try login with your new password.
                    </p>
                    
                    <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Login</a>
                </div>
            </div>
        </div>              
    </section>
    {% endblock %}
    