{% extends 'base.html' %}

    {% block head %}
    <title>Reset Password  | Meal Manager</title>
    {% endblock %}

    {% block body %}
    <section id="reset_password_done">
        <div class="reset_password_done">
            <div class="reset_password_done-box">
                <h6 class="heading">Password Reset Sent</h6>
                <div class="form">
                    <p>
                        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. <br>
                
                        If you don't receive an email, please make sure you've entered the address you registered with.
                    </p>
                </div>
            </div>
        </div>              
    </section>
    {% endblock %}