/* =========================================
                Preloader
============================================ */

#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
/* =========================================
                Navigation Var Section
============================================ */
.navbar{
    margin-bottom: 0 !important;
}
/* =========================================
                Login & Register Section
============================================ */
.reset_password,
.reset_password_done,
.reset_password_confirm,
.reset_password_complete,
.change_password,
.edit_profile,
.logout,
.signup,
.login{
    height: 100%;
    width: 100%;
    position: fixed;
    background:rgba(40, 41, 40, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset_password-box,
.reset_password_done-box,
.reset_password_confirm-box,
.reset_password_complete-box,
.change_password-box,
.logout-box,
.login-box{
    background: rgb(255, 255, 255);
    height: 500px;
    width: 500px;
    overflow: auto;
    -webkit-box-shadow:0px 0px 9px rgba(0, 0, 0, 0.8);
    box-shadow:0px 0px 9px rgba(0, 0, 0, 0.8);
    border-radius: 15%;
}
.edit_profile-box,
.signup-box{
    background: rgb(255, 255, 255);
    height: 800px;
    width: 500px;
    overflow: auto;
    -webkit-box-shadow:0px 0px 9px rgba(0, 0, 0, 0.8);
    box-shadow:0px 0px 9px rgba(0, 0, 0, 0.8);
    border-radius: 5%;
}
.change_password-box .form{
    margin-top: 30px !important;
}
.edit_profile-box .form{
    margin-top: 10px !important;
}
.reset_password-box .form,
.reset_password_done-box .form,
.reset_password_confirm-box .form,
.reset_password_complete-box .form,
.change_password-box .form,
.edit_profile-box .form,
.logout-box .form,
.signup-box .form,
.login-box .form{
    text-align: center;
    margin-top: 60px;
    margin-left: 90px;
    height: 300px;
    width: 300px;
}
.logout-box .form{
    margin-top: 100px !important;
}
.reset_password-box .form label,
.reset_password_confirm-box .form label,
.change_password-box .form label,
.login-box .form label{
    margin-bottom: 10px;
    font-size: 20px;
    font-family:'Dosis', sans-serif;
}
.edit_profile-box .form label{
    margin-bottom: 5px !important;
}
.edit_profile-box .form label,
.signup-box .form label{
    margin-bottom: 10px;
    font-size: 15px;
    font-family:'Dosis', sans-serif;
}
.reset_password-box .form input,
.reset_password_confirm-box .form input,
.change_password-box .form input,
.edit_profile-box .form input,
.signup-box .form input,
.login-box .form input{
    border:1px solid rgb(128, 177, 218);
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(250, 250, 250);
}
.edit_profile-box .form input{
    margin-bottom: 10px !important;
}
.reset_password-box .form .btn,
.reset_password_confirm-box .form .btn,
.change_password-box .form .btn,
.edit_profile-box .form .btn,
.signup-box .form .btn,
.login-box .form .btn{
    margin-bottom: 20px;
}
.reset_password-box .form .btn:hover,
.reset_password_confirm-box .form .btn:hover,
.change_password-box .form .btn:hover,
.edit_profile-box .form .btn:hover,
.signup-box .form .btn:hover,
.login-box .form .btn:hover{
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
.change_password-box .form a,
.logout-box .form a,
.signup-box .form a,
.login-box .form a{
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-size: 15px;
}
.logout-box .form a{
    color:#fff !important;
}
.reset_password_done-box .form p,
.reset_password_complete-box .form p,
.logout-box .form p{
    font-size: 18px;
}
.logout-box .form h1{
    font-size: 35px;
    margin-bottom: 50px;
}
/* =========================================
                Home Section
============================================ */

.grid-view{
    width: 30%;
    height: 350px;
    padding:20px;
    margin-left:2.8%;
    background: rgb(182, 212, 182);
    border:6px solid #818181;
    border-radius: 15px;
    display: block;
    margin-top: 30px;
    cursor: pointer;
    position: relative;
}

.meal-sheet,
.cash_deposit,
.amount_spend,
.total_bills,
.mess_view,
.balance_view{
    height: 100%;
    width: 100%;
    align-items: center;
    filter: blur(8px);
    -webkit-filter: blur(4px);
}
.meal-content,
.deposit_content,
.spend_content,
.bills_content,
.mess_content,
.balance_content h1{
    color: #000000;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -60%);
}
.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
/* =========================================
                Profile Section
============================================ */
.profile{
    height: 100%;
    width: 100%;
    position: fixed;
    background:rgba(40, 41, 40, 0.8);
}
.profile-right,
.profile-left{
    padding: 60px;
    height: 100%;
    
}
.profile-left img{
    border:1px solid rgb(128, 177, 218);
    border-radius: 45px;
    -webkit-box-shadow:0px 0px 9px rgba(0, 0, 0, 0.8);
    box-shadow:0px 0px 9px rgba(0, 0, 0, 0.8);
    margin:0 40px;
    float: right;
}
.profile-left p,
.profile-left h1,
.profile-right-content p{
    float: right;
    padding: 10px;
    font-size: 25px;
    margin-top: 20px !important;
    margin:0 40px;
    display: block;
    background-color: #fff;
    border:1px solid rgb(128, 177, 218);
    border-radius: 45px;
    -webkit-box-shadow:0px 0px 9px rgba(0, 0, 0, 0.8);
    box-shadow:0px 0px 9px rgba(0, 0, 0, 0.8);
}
.profile-left p{
    font-size: 15px !important;
}
.profile-right-content p{
    float: none !important;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    font-size: 15px;

}
.profile-right-content .btn{
    display: inline-block !important;
    float: none !important;
    margin-top: 40px !important;
    margin-left: 40px !important;
}
/* =========================================
        Add Bills & AmountSpend Section
============================================ */
.addbills,
.amountspend{
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.addbills_up .form label,
.amountspend_up .form label{
    display: inline-block;
    float: left;
    margin-left: 40px;
    font-size: 25px;
}
.addbills_up .form input,
.amountspend_up .form input{
    width: 200px;
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-right: 40px;
}
.addbills_down,
.amountspend_down{
    margin-top:40px;
}
.addbills_down .table .thead-light
.amountspend_down .table .thead-light{
    background-color: #818181;
}
.addbills_down .table tr td{
    font-size: 25px;
}
/* =========================================
                Groups Section
============================================ */
.groups_down{
    margin-top: 50px;
}
/* =========================================
                Messdetails Section
============================================ */
.messdetails_up,
.mealsheet_up{
    margin-top: 40px;
    margin-bottom: 40px;
}
.messdetails-image{
    width: 40px;
    border:1px solid rgb(128, 177, 218);
    border-radius: 15px;
    -webkit-box-shadow:0px 0px 9px rgba(0, 0, 0, 0.8);
    box-shadow:0px 0px 9px rgba(0, 0, 0, 0.8);
}
.messdetails_down h2,
.mealsheet_down h2{
    text-align: center;
    margin-bottom: 20px;
}
.messdetails_down .table tr td:last-child{
    text-align: center;
}
.messdetails_down .table .thead-light,
.mealsheet_down .table .thead-light{
    background-color: #818181;
}
.messdetails_down p{
    font-size: 18px;
}
/* =========================================
                CashDeposit Section
============================================ */
.cashdeposit_up{
    margin-top: 40px;
    margin-bottom: 40px;
}
.cashdeposit_up .form input,
.cashdeposit_up .form select{
    margin-bottom: 20px;
}